{{/* get file that matches the filename as specified as src="" in shortcode */}}
{{ $src := .Page.Resources.GetMatch (printf "*%s*" (.Get "src")) }}

<center> 
  <a
{{ if .Get "lightbox" }}
  data-lightbox="{{ .Get "lightbox" | markdownify | plainify }}"
{{ else }}
  data-lightbox="image-{{ $src }}"
{{ end }}
  href="{{ $src.RelPermalink }}"
{{ with .Get "target" }} target="{{ . }}"{{ end }}
{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
<img 
  {{ $tiny := $src.Resize "500x"}}
  src="{{ $tiny.RelPermalink }}" 
  {{ with .Get "alt" }}alt="{{.}}"{{ else }}alt=""{{ end }}>
</a>
  </center>