{{/* get file that matches the filename as specified as src="" in shortcode */}}
{{ $src := resources.GetMatch (.Get "src") }}
{{  print $src }}
{{/*  <center> 
  <a
{{ if .Get "lightbox" }}
  data-lightbox="{{ .Get "lightbox" | markdownify | plainify }}"
{{ else }}
  data-lightbox="image-{{ $src }}"
{{ end }}
  href="{{ $src.RelPermalink }}"
{{ with .Get "target" }} target="{{ . }}"{{ end }}
{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
<img 
  {{ $smaller := $src.Resize "500x"}}
  src="{{ $smaller.RelPermalink }}" 
  {{ with .Get "alt" }}alt="{{.}}"{{ else }}alt=""{{ end }}>
</a>
  </center>  */}}